#edit-clipart-panel{
    min-height:100px;
    margin: 0px;
    padding:0px;
    border: 1px solid gray;
    display:none;
}
#edit-clipart-panel h6{
    font-weight: bold;
    background-color: whitesmoke;
    padding: 10px 0px 10px 10px;
    margin: 0px;
    border-bottom: 1px solid darkgray;
    color: darkslategray;
}
.editor-panel-tools{
    padding: 15px;
}