#editor-panel{
    min-height:300px;
    margin: 0px;
    padding:0px;
    border: 1px solid;
    border-color:rgba(0,0,255, 0.3);
    border-radius: 2px;
    display:none;
}

.editor-panel-tools{
    padding: 15px;
}


#editor-panel input[type=color]{
    /*display:inline-block;
    width:30px;*/
    cursor: pointer;
}

#editor-panel select{
    cursor: pointer;
}
#editor-panel input[type=color]{
    display: block;
    text-align: center;
    vertical-align: middle;
    max-width: 35px;
}