#upload-image-panel
{
    border:1px solid;
    min-height:250px;
    margin: 0px;
    padding: 0px;
    display: none;
    border-color:rgba(0,0,255, 0.3);
    border-radius: 2px;

}



#upload-image-panel div
{
    font-weight: bold;
    margin: 30px 0px 10px 20%;
    padding: 10px 0 0 0;
    color: gray;
    height:50px;
    background-color: whitesmoke;
    width: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
    text-align: center;
    border:1px solid lightgray;
}
.input-file {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}