@font-face
{
    font-family: squealer;
    src: url('SQUEALER.ttf'),
    url('SQUEALER.eot'); /* IE9 */
}


@font-face
{
    font-family: Sansation_Light;
    src: url('Sansation_Light.ttf'),
    url('Sansation_Light.eot'); /* IE9 */
}

@font-face {
    font-family: OldSansBlack;
    src: url('OldSansBlack.ttf'),
    url('OldSansBlack.eot'); /* IE9 */
}

@font-face
{
    font-family: Learning Curve;
    src: url('LearningCurve_OT.otf'),
    url('LearningCurve_OT.eot'); /* IE9 */
}